<div class="search_bar">
  <form>
    <label class="search_label" for="q">Enter Your Search Query:</label>
    <input [(ngModel)]="searchCriteria.q" type="text" name="q" size="40" class="search_field">
    <select class="search_label search_select" name="endpoint" [(ngModel)]="searchCriteria.endpoint" (ngModelChange)="searchSubmit($event)">
      <option value="">Select A Category</option>
      <option *ngFor="let o of searchOptions" [value]="o.value">{{ o.option }}</option>
    </select>
  </form>
</div>

<div *ngIf="people.length">
  <app-people [people]="people"></app-people>
</div>
<div class="vis" *ngIf="!people.length && searchButton && searchCriteria.endpoint === people">No People To List</div>

<div *ngIf="ships.length">
  <app-ships [ships]="ships"></app-ships>
</div>
<div class="vis" *ngIf="!ships.length && searchButton && searchCriteria.endpoint === starships">No Starships To List</div>

<div *ngIf="films.length">
  <app-films [films]="films"></app-films>
</div>
<div class="vis" *ngIf="!films.length && searchButton && searchCriteria.endpoint === films">No Films To List</div>
